html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: rgb(18, 22, 26);
    font-family: 'Raleway', sans-serif;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

